.popover {
    position: fixed;
    bottom: -64px;
    left: 50%;
    transform: translateX(-50%);

    padding: 12px 24px;
    border-radius: 4px;
    background-color: var(--discord-color-chat);
    transition: all 0.3s ease-in-out;
}

.popover[shown='true'] {
    bottom: 32px;
}

.popover p {
    color: var(--discord-color-white);
    font-size: 14px;

    display: inline-block;
    vertical-align: middle;

    margin-right: 32px;
}

.popover button {
    color: var(--discord-color-white);
    font-size: 16px;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    border: none;
}

.popover button:hover {
    opacity: 0.65;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: black;
    opacity: 0.65;

    display: none;
    align-items: center;
    justify-content: center;
}

.loading-overlay[active='true'] {
    display: flex;
}

.loading-overlay div {
    width: 64px;
    height: 64px;

    border: 8px solid var(--discord-color-grey);
    border-top: 8px solid var(--discord-color-core);
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
