.app-centered-page {
    width: 1280px;
    min-height: calc(100vh - 32px);
    margin: 16px auto;
    box-sizing: border-box;
}

.room {
    border-radius: 4px;
    background-color: var(--discord-color-chat);

    min-height: inherit;
    display: flex;
}

.room > div:first-child {
    width: 300px;
    border-radius: 4px;
    background-color: var(--discord-color-channels);

    padding: 16px;
}

.room > div:last-child {
    flex: 1;
    padding: 16px;

    display: flex;
    flex-direction: column;
}

.room .connected-users div {
    background-color: var(--discord-color-chat);

    padding: 12px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.room .connected-users span {
    background-color: var(--discord-color-grey);

    padding: 5px;

    border: 1px solid transparent;
    border-radius: 50%;

    /* WARN: sledgehammer in the code. */
    width: 20px;
    text-align: center;
    margin-right: 24px;
    display: inline-block;
}

.room .connected-users p {
    margin: 0;
    font-size: 16px;
    display: inline-block;
    color: var(--discord-color-white);
}

.room .messages {
    flex: 1;
    padding: 16px;
}

.room .message-area {
    display: flex;
}

.room .message-area textarea {
    flex: 1;
    padding: 12px 8px;
    margin-right: 16px;

    outline: 0;
    background-color: var(--discord-color-servers);
    color: var(--discord-color-white);
    font-size: 14px;

    border-width: 0px;
    border-radius: 4px;
}

.room .message-area button {
    padding: 16px;
    background-color: var(--discord-color-button);
    color: var(--discord-color-white);
    transition: all 0.25s linear;
    cursor: pointer;
    font-size: 16px;

    border-radius: 4px;
    border-width: 0px;
}

.room .message-area button:hover {
    opacity: 0.65;
}

.room h2 {
    color: var(--discord-color-white);
}

.room hr {
    border: 0;
    height: 2px;
    margin: 16px -16px;
    background-color: var(--discord-color-chat);
}
